<section class="p-4 h-[80vh] text-sm">
  <div class="items-center mb-4">
    <h1 class="text-xl font-semibold">Pagos</h1>
  </div>
  <ng-container>
    <p-table
      #dt
      [globalFilterFields]="['thirdParty','company','category']"
      [value]="payments"
      [paginator]="true"
      [rows]="10"
      [scrollable]="true"
      scrollHeight="flex"
      [tableStyle]="{ 'min-width': '80rem' }">

      <ng-template pTemplate="caption">
        <div class="flex justify-between items-center">
          <span class="p-input-icon-right flex justify-center w-1/3 h-[38px]">
            <input #searchBox class="w-full px-3 py-3" pInputText type="text" (input)="dt.filterGlobal(searchBox.value, 'contains')"  placeholder="Buscar por tercero, rubro o empresa"/>
            <i class="pi pi-search flex items-center ml-1"></i>
          </span>
          <div class="flex gap-2.5 text-sm">
            <button
              pButton
              type="button"
              label="Exportar CSV"
              icon="pi pi-download"
              class="bg-green-600 text-white px-3 py-3 rounded-lg"
              (click)="dt.exportCSV()">
            </button>
            <button
              pButton
              label="Registrar pago"
              icon="pi pi-plus"
              class="bg-blue-600 text-white px-3 py-3 rounded-lg"
              (click)="createPayment()">
            </button>
          </div>
        </div>
      </ng-template>


      <ng-template pTemplate="header">
        <tr>
          <th>Fecha</th>
          <th>Empresa</th>
          <th>Area de operacion</th>
          <th>Rubro</th>
          <th>Tercero</th>
          <th>Valor de operacion</th>
          <th>Estado</th>
          <th>Forma de pago</th>
          <th style="width: 6rem;" class="text-center">Opciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-p>
        <tr>
          <td>{{ p.date }}</td>
          <td>{{ p.company | titlecase }}</td>
          <td>{{ p.operationArea | titlecase }}</td>
          <td>{{ p.category  | titlecase }}</td>
          <td>{{ p.thirdParty | titlecase }}</td>
          <td class="text-right">
            {{ p.operationValue | currency:'COP':'symbol-narrow' }}
          </td>
          <td class="text-center">
            <p-tag
              [value]="p.paymentStatus"
              [severity]="
                  p.paymentStatus === 'AUTORIZADO'
                    ? 'success'
                    : p.paymentStatus === 'PENDIENTE'
                    ? 'warning'
                    : 'danger'
                "></p-tag>
          </td>
          <td>{{ p.paymentMethod | titlecase }}</td>
          <td class="flex justify-center">
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-2 h-8 w-8 text-xs bg-blue-600 text-white p-button-sm p-button-secondary"
              (click)="onEdit(p)"
              title="Editar"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="9">
            <div class="grid grid-cols-1 gap-2">
              <p-skeleton height="2.5rem"></p-skeleton>
              <p-skeleton height="2.5rem"></p-skeleton>
              <p-skeleton height="2.5rem"></p-skeleton>
              <p-skeleton height="2.5rem"></p-skeleton>
              <p-skeleton height="2.5rem"></p-skeleton>
              <p-skeleton height="2.5rem"></p-skeleton>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
        <tr>
          <td colspan="5">
            Total de registros: {{dt.hasFilter() ? (dt.filteredValue ? dt.filteredValue.length : 0) : payments.length }}
          </td>
          <td class="text-right font-semibold">
            {{ getFilteredSum(dt) | currency:'COP':'symbol-narrow' }}
          </td>
          <td colspan="3"></td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
</section>


<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [position]="'center'"
  [style]="{ width: '40rem' }">

  <ng-template pTemplate="header" class="bg-blue-600">
    <div class="flex items-center justify-between w-full text-white font-bold rounded-t-md">
      <span class="text-lg font-semibold">{{ dialogTitle }}</span>
    </div>
  </ng-template>

  <app-payment-form
    [initialData]="selectedPayment"
    (formSubmit)="createOrUpdatePayment($event)">
  </app-payment-form>
</p-dialog>
