//Calendario
.p-calendar {
  width: 100%;
}

.p-calendar .p-inputtext {
  height: 38px;
  border-radius: 6px 0 0 6px;
}

.p-calendar .p-datepicker-trigger {
  background: #1e3a8a;
  color: white;
}

//.p-dropdown, .p-component, .p-inputwrapper{
//  width: 100%!important;
//}
//
//.p-component{
//  width: 100%!important;
//}
//
//.p-dropdown-open{
//  width: 100%!important;
//}
//
//.p-overlay{
//  width: 100%!important;
//}
.form-dropdown {
  width: 100%;
  height: 38px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  font-size: 14px;
}
